  /*   <!-- COPY THIS 2--> */
  #nav-placeholder {
      position: sticky;
      top: 0;
      z-index: 1000;
  }

 
  .badge-width {
      width: 12rem;
      height: 2rem;
      text-align: center;
      font-size: 0.9rem !important;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .form-box {
      flex-wrap: wrap;
      padding: 1rem;
      /* height: 70vh; */
      width: 50vw;
      border: 2px dashed yellow;
      border-radius: 2%;
      color: white;
  }
  .btn{
    width: 6rem;
  }
  @media screen {
    
  }