
.button {
  background-color: black;
  color: white;
  font-weight: bold;
}
      .button.clicked {
              background-color: #3AE180;
              color: black;
          }
      .button:hover {
        background-color: #3AE180;
        color: black;
      }
      .navbar {
        background-color: black;
        width: 100%;
      }
      .navbar-brand {
        color: white; /* Set the color of the brand text */
      }
      .user-icon {
        color: white; /* Set the color of the user icon */
      }
    
      footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
      }
      
  body {
    background-color: #f8f9fa;
    width: 100%;
    padding: 0%;
    margin: 0%;
  }
  .custom-container {
    background-color: #e0e0e0; /* Brown color */
    color: #050404; /* White text */
    padding: 10px;
    border-radius: 30px;
    max-width: 800px;
    position: relative;
    margin: 70px;
    left: 80px;
    
  }
  .navbar {
          background-color: black;
      }
      .navbar-brand {
          color: white;
      }
      .user-icon {
          color: white;
          font-size: 100%;
      }
      footer {
          background-color: #8b8e91;
          color: white;

      }